.popup {
  display: flex;
  position: fixed;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  max-height: 100%;
  margin: 0 auto;
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  top: 0;
  left: 0;
  overflow-y: scroll;
}

.popup__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex-basis: 95vh;
}

.popup__fight-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 10px 0;
  width: 95%;
  max-width: 600px;
}

.popup__title {
  font-size: 24px;
  margin: 40px 0 20px;
}

@media (min-width:443px) {
  .popup__title {
    font-size: 34px;
  }
}

@media (min-width: 800px) {
  .popup__fight-details {
    order: 1;
  }
}
