.popup__detail-name {
  display: grid;
  grid-template-columns: 1fr 30px;
  width: 100%;
  margin-top: 20px;
  font-size: 20px;
}

.popup__detail-type {
  font-size: 24px;
  font-weight: bold;
}

.popup__detail-type::first-letter {
  text-transform: uppercase;

}
