.card {
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  margin: 20px 15px;
  box-shadow: 0px 0px 4px 2px #ccc;
  transition: .3s;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

.card:hover {
  background-color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
}

.card--in-popup:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: default;
}

.card__img {
  margin: 5px 0 10px;
  width: 245px;
  align-self: center;
}

@media (min-width: 800px) {
  .card--in-popup {
    order: 2;
  }
}
