.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.header__title {
  font-size: 34px;
  margin: 0 20px 40px 0;
  color: orange;
}

.header__title--brown {
  color: brown;
}

@media (min-width: 550px) {
  .header {
    justify-content: space-between;
  }
}
