.catalog__button {
  margin-top: 20px;
  align-self: center;
  outline: none;
  padding: 10px 30px;
  font-size: 28px;
  background-color: orange;
  color: white;
  border: none;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 3px;
  color: brown;
}

.catalog__button:hover {
  background-color: brown;
  color: orange;
}

.catalog__button--smaller {
  font-size: 14px;
  padding: 5px;
  margin: 5px;
  width: 65px;

}

.catalog__button--active,
.catalog__button--active:hover {
  background-color: orangered;
  color: white;
}
