.wrapper {
  display: flex;
  flex-direction: column;
  width: 95%;
  max-width: 1200px;
  margin: auto;
  padding: 20px 0px;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.header__title {
  font-size: 34px;
  margin: 0 20px 40px 0;
  color: orange;
}

.header__span {
  color: brown;
}

.header__input {
  border: none;
  /* margin-top: 40px; */
  padding: 0 0 5px 0px;
  /* width: 50px; */
  font-size: 14px;
  cursor: pointer;
  outline: none;
}
.header__input::placeholder {
  color: #555;
}

.header__input-subtitle {
  padding: 5px 0 0 0px;
  font-size: 14px;
  color: #555;
  height: 36px;
}

.header__line {
  height: 3px;
  width: 100%;
  background-color: orange;
}

.cards--wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: 20px 10px;
  font-size: 12px;
}

.card__acapit {
  text-align: left;
  margin: 5px;
}

.card__acapit--flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__span {
  font-weight: bold;
}

.card__span--bigger {
  font-size: 20px;
}

.loader {
  align-self: center;
}

.button {
  margin-top: 20px;
  align-self: center;
  outline: none;
  /* width: 220px; */
  /* height: 50px; */
  padding: 10px 30px;
  font-size: 28px;
  background-color: orange;
  color: white;
  border: none;
}

@media (min-width: 540px) {
  .header {
    justify-content: space-between;
    margin-bottom: 20px;
  }
}
