.catalog {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 95%;
  max-width: 1240px;
  margin: 20px auto;
}

.catalog__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 20px 10px;
  font-size: 12px;
}

.catalog__loader {
  align-self: center;
}

.catalog__buttons-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
