.wrapper {
  display: flex;
  flex-direction: column;
  width: 95%;
  max-width: 1200px;
  margin: auto;
  padding: 20px 0px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header__title {
  color: orange;
}

.header__span {
  color: brown;
}

.header__input {
  border: none;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}
.header__input::placeholder {
  color: #555;
}

.header__input-subtitle {
  padding-top: 10px;
  padding-left: 10px;
  font-size: 14px;
  color: #555;
  height: 36px;
}

.header__line {
  height: 3px;
  width: 100%;
  background-color: orange;
}

.cards--wrapper {
  display: flex;
  flex-wrap: wrap;
}

.card {
  text-align: center;
  margin: 30px 10px;
  font-size: 12px;
}

.card__acapit {
  text-align: left;
  margin: 5px;
}

.card__acapit--flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__span {
  font-weight: bold;
}

.card__span--bigger {
  font-size: 24px;
}

.loader {
  align-self: center;
}

.button {
  margin-top: 20px;
  align-self: center;
  outline: none;
  width: 220px;
  height: 50px;
  font-size: 30px;
  background-color: orange;
  color: white;
  border: none;
}
